:root {
    --lavender-blush: #f5edf0;
    --web-lavender: #d1ccdc;
    --charcoal: #424c55;
    --jungle-green: #06a77d;
    --gamboge: #f1a208;
  }

  body {
    background-color: var(--lavender-blush);
    color: var(--charcoal);
  }